<div class="carousel-wrapper">
  <div class="carousel-arrow-wrapper left-button-wrapper">
    <app-button
      type="icon-only"
      icon="angle-left"
      size="medium"
      (onButtonClick)="scrollCarousel('left')"
    ></app-button>
  </div>

  <div class="carousel-container" #carousel>
    <div
      class="carousel-item"
      *ngFor="let item of portfolioItems"
      (click)="onCarouselItemClick($event, item)"
      (keydown.enter)="onCarouselItemClick($event, item)"
      tabindex="0"
      [ngStyle]="{
        'background-image': 'url(' + item.src + ')'
      }"
    >
      <span class="carousel-item-name">
        {{ item.name }}
      </span>
    </div>
  </div>

  <div class="carousel-arrow-wrapper right-button-wrapper">
    <app-button
      type="icon-only"
      icon="angle-right"
      size="medium"
      (onButtonClick)="scrollCarousel('right')"
    ></app-button>
  </div>
</div>
