@import "../../styles/colors.scss";

.common-button {
	padding: 10px 30px;
	background-color: $background-purple;
	border: none;
	border-radius: 50px;

	font-size: 14px;
	letter-spacing: 1px;

  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }

  &:focus {
    padding: 5px 25px;
    border: 3px solid $background-dark;
    outline: 2px solid $font-white;
  }
}
