<div class="app-wrapper">
	<header class="header">
		<app-header [(activeItem)]="activeMenuItem"></app-header>
	</header>
	<main class="main">
		<section id="home" class="page">
			<app-home-page></app-home-page>
		</section>
		<section id="portfolio" class="page">
			<app-portfolio-page></app-portfolio-page>
		</section>
		<section id="skills" class="page">
            <app-skills-page></app-skills-page>
        </section>
		<section id="contacts" class="page">
            <app-contacts-page></app-contacts-page>
        </section>
	</main>
	<footer></footer>
</div>