@import "./app/styles/fonts.scss";
@import "./app/styles/colors.scss";

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

	font-family: $text-font;
	color: $font-white;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4 {
	font-family: $headers-font;
}
